<!-- <div class="home">
  <div class="info">
    <div class="image"><img src="/images/logo.png" style="width:256px;height:256px;" class="center" /></div>
    <a href="/" class="logo"><%= config.title %></a>
    <div class="subtitle"><%= config.subtitle || '' %></div>
    <div class="sns">
      <% for (let item in theme.sns) { %>
          <a href="<%- url_for(theme.sns[item]) %>"><%= item %></a>
      <% } %>
    </div>
    
    <%- partial('_partial/footer') %>
  </div>
</div> -->
<div class="home">
  <%- partial('_partial/header') %>
  <div class="page">
    <div class="page-title">
      <h1 class="article-title"></h1>
    </div>
    <div class="page-content">
      <p>李万方/Justin   1997</p>
      <p>[2015-2019]   Hohai University Changzhou (ComputerScience)<br>
        [2019-current]   China Unicom Shanghai (as Java Developer)</p>
    </div>
  </div>
  <%- partial('_partial/paginator') %>
  <%- partial('_partial/footer') %>
</div>

